body {background-color:gray;
font-family: Georgia, 'Times New Roman', Times, serif;}
#container {background-color: honeydew;
    width:800px;
    margin-left: auto;
margin-right: auto;
}
#header {background-color:#66CCFF;
    text-align:center;
    font-weight: 900px;
    padding: 10px;
color:rgb(22, 20, 20);}
#content {padding:10px;

}
h1, h2, h3{margin:5px}
#nav {width:180px;
float: left;
}
#main {width: 600px;
float: right;
text-align:justify}
#footer {
    clear: both;
    text-align:center;
    padding: 10px;
    background-color: black;
    color:chocolate;
}
ul{list-style-type: none;
padding: 0px;}
ul li a{text-decoration: none;
color:red;
font-weight:bold;}
